/* Color común de fondo */
body {
    background-color: lavender;
}

/* Alineación centrada de titulos */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* Barra de navegación horizontal y que se remarque tanto la actual como la indicada*/
nav {
    list-style-type: none;
    overflow: hidden;
    background-color: whitesmoke;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: lightcyan;
}
  
.active {
    background-color: lightblue;
}

/* Fondos de color y elementos de la tabla */
table {
    background-color: white;
    margin: 0px;
    width: 100%;
}

table tr th {
    padding: 7px;
}
/* darle color cebreado a la tabla, pero sólo a los canales */
#pares {
    background-color: lightblue;
}

#impares {
    background-color: lightcyan;
}

/* Destacar ligeramente el programa para emitir y la cadena */
.principal {
    font-size: larger;
}

/* Imagen representativa encuadrada por el texto descriptivo */
#pegado {
    display: inline-block;
    vertical-align: text-top;
}

/* Varias imagenes en una misma línea, en este caso dos por línea */
.juntado {
    display: inline-block;
    width: 47%;
    padding: 7px;
}

/* Lista desordenada para las votaciones */
#votacion{
    width: 20%;
    list-style-type: square;
}

.programVoted {
    margin: 5px;
}

ul li:hover {
    font-size: x-large;
}